
div.page-header
	h1 Poll List

div.row
	div.col-xs-5
		a(href='#/new', class='btn btn-default')
			span.glyphicon.glyphicon-plus New Poll
	div.col-xs-7
		input(type='text', class='form-control', ng-model='query', placeholder='Search for a poll')

div.row
	div.col-xs-12
		hr

div.row(ng-switch, on='polls.length')
	ul(ng-switch-when='0')
		li
			em No polls in database. Would you like to 
			a(href='/#/new') create one?

	ul(ng-switch-default)
		li(ng-repeat='poll in polls | filter: query')
			a(href='#/poll/{{poll._id}}') {{ poll.question }}