body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

a.login-link {
	display: block;
	padding: 5px 10px;
}

.login-tip {
	padding: 10px 0px;
}