
<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				List of projects
			</div>
			<div class="panel-body">
				<ul class="list-group">
					<li class="list-group-item" ng-repeat="nav in vm.navList track by $index">
						<a class="list-group-item-heading" href="{{nav.link}}">{{ nav.name }}</a>
						<div class="list-group-item-text">
							<div>{{ nav.description }}</div>
							<div><a href="{{ nav.source }}" target="_blank">来源</a></div>
						</div>
					</li>
				</ul>
			</div>
			<div class="panel-footer">
				@ksh
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">APIs</div>
			<div class="panel-body">
				<ul class="list-group">
					<li class="list-group-item" ng-repeat="api in vm.APIs track by $index">
						<a href="{{ api.url }}" target="_blank">{{ api.name }}</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>