@charset "utf-8";
/* 我是被编译的 */
.box {
  width: 300px;
  height: 300px;
  background-color: yellow;
  border: solid 5px #000;
}
.border {
  border: solid 5px #000;
}
.test_mixin {
  border: solid #ffff00 30px;
}
.test_mixin_03 {
  border: solid #008000 50px;
}
.m-t {
  margin-top: 10px;
}
.trangle_up {
  border-width: 100px;
  border-color: transparent transparent #cccccc transparent;
  border-style: dashed dashed solid dashed;
  width: 0;
  height: 0;
  overflow: hidden;
}
.trangle_down {
  border-width: 100px;
  border-color: #cccccc transparent transparent transparent;
  border-style: solid dashed dashed dashed;
  width: 0;
  height: 0;
  overflow: hidden;
}
.trangle_left {
  border-width: 100px;
  border-color: transparent transparent transparent #cccccc;
  border-style: dashed dashed dashed solid;
  width: 0;
  height: 0;
  overflow: hidden;
}
.trangle_right {
  border-width: 100px;
  border-color: transparent #cccccc transparent transparent;
  border-style: dashed solid dashed dashed;
  width: 0;
  height: 0;
  overflow: hidden;
}
.box_02 {
  width: 320px;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.list {
  width: 600px;
  margin: 30 auto;
  padding: 0;
  list-style: none;
}
.list li {
  height: 30px;
  line-height: 30px;
  background: pink;
  margin-bottom: 5px;
}
.list a {
  float: left;
}
.list a:hover {
  color: #FF1515;
}
.test_arguments {
  border: 30px #ff0000 solid;
}
.test_03 {
  width: calc(300px - 30);
}
.test_important {
  width: 600px !important;
  margin: 30 auto !important;
  padding: 0 !important;
  list-style: none !important;
}
.test_important li {
  height: 30px !important;
  line-height: 30px !important;
  background: pink !important;
  margin-bottom: 5px !important;
}
.test_important a {
  float: left !important;
}
.test_important a:hover {
  color: #FF1515 !important;
}
#header {
  color: #4d926f;
  width: 300px;
}
h2 {
  color: #4d926f;
  width: 300px;
  margin-top: 15px;
}
