<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>仿站目录</title>
	<style>
	.container {
		margin: 0 auto;
		width: 800px;
	}
	ul.list-unstyled {
		list-style: none;
	}
	.inline {
		display: inline;
	}
	</style>
</head>

<body>
	<div class="container">
		<div class="classify">
			<div class="classify-title">
				<h2>门户</h2>
			</div>
			<ul class="classify-items list-unstyled">
				<li class="classify-item inline">
					<a href="/websites/qq/">qq</a>
				</li>
				<li class="classify-item inline">
					<a href="/websites/qq/">qq</a>
				</li>
				<li class="classify-item inline">
					<a href="/websites/qq/">qq</a>
				</li>
				<li class="classify-item">
					<a href="/websites/qq/">qq</a>
				</li>
			</ul>
		</div>
	</div>

	<script src="jquery/dist/jquery.js"></script>
	<script>
		$(document).ready(function() {
			$.ajax({
				url: '/websites/index',
				type: 'GET'
			})
			.done(function(data) {
				console.log("success", data);
			})
			.fail(function(msg) {
				console.log("error", msg);
			})
			.always(function(complete) {
				console.log("complete", complete);
			});
			
		})
	</script>
</body>
</html>