<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>line-height & vertical</title>
	
	<style>
		div { padding: 20px; font-size: 16px; background-color: green; }
		h2 { background-color: blue; }
		p { line-height: 0; overflow: hidden; }
	</style>
</head>

<body>
	<h2>block_line-height</h2>	
	<div class="block">
		<p>Hello!line-height~hello!line-height</p>
	</div>
	<h2>span_line-height</h2>
	<div class="span">
		<p>Hello!line-height~hello!line-height</p>
	</div>
	<h2>input_line-height</h2>
	<div class="input">
		文字<input type="text">
	</div>
</body>
</html>