<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>横向滚动条</title>
</head>

<!-- <body>
	<div style="width:300px;height:64px;overflow-x:auto; overflwow-y: none;"> 
	    <div style="width:640px;">       
	        <div style="width:128px;height:64px;background:pink;float:left;"></div>        
	        <div style="width:128px;height:64px;background:yellow;float:left;"></div>            
	        <div style="width:128px;height:64px;background:#234566;float:left;"></div>        
	        <div style="width:128px;height:64px;background:#453782;float:left;"></div>        
	       <div style="width:128px;height:64px;background:#997788;float:left;"></div>
	    </div>
	</div>
</body> -->
<style type="text/css">
  /*如果你想要让div显示垂直方向的滚动条，就把overflow-x;改为overflow-y;如果横竖都要，就把他改为overflow:auto;*/
     .max{width:200px; height:200px; border:1px solid red; margin:auto; overflow-x:auto;}
    </style>
<body>
 <div class="max">
    dsfajsdlkfjlkasdjlkfjaskldjfasdfasdfaaaaadsfajsdlkfjlkasdjlkfjaskldjfasdfasdfaaaaadsfajsdlkfjlkasdjlkfjaskldjfasdfasdfaaaaa
    dsfajsdlkfjlkasdjlkfjaskldjfasdfasdfaaaaadsfajsdlkfjlkasdjlkfjaskldjfasdfasdfaaaaadsfajsdlkfjlkasdjlkfjaskldjfasdfasdfaaaaa
    dsfajsdlkfjlkasdjlkfjaskldjfasdfasdfaaaaadsfajsdlkfjlkasdjlkfjaskldjfasdfasdfaaaaadsfajsdlkfjlkasdjlkfjaskldjfasdfasdfaaaaa
    dsfajsdlkfjlkasdjlkfjaskldjfasdfasdfaaaaadsfajsdlkfjlkasdjlkfjaskldjfasdfasdfaaaaadsfajsdlkfjlkasdjlkfjaskldjfasdfasdfaaaaa
    dsfajsdlkfjlkasdjlkfjaskldjfasdfasdfaaaaadsfajsdlkfjlkasdjlkfjaskldjfasdfasdfaaaaadsfajsdlkfjlkasdjlkfjaskldjfasdfasdfaaaaa
    dsfajsdlkfjlkasdjlkfjaskldjfasdfasdfaaaaadsfajsdlkfjlkasdjlkfjaskldjfasdfasdfaaaaadsfajsdlkfjlkasdjlkfjaskldjfasdfasdfaaaaa
    dsfajsdlkfjlkasdjlkfjaskldjfasdfasdfaaaaadsfajsdlkfjlkasdjlkfjaskldjfasdfasdfaaaaadsfajsdlkfjlkasdjlkfjaskldjfasdfasdfaaaaa
    dsfajsdlkfjlkasdjlkfjaskldjfasdfasdfaaaaadsfajsdlkfjlkasdjlkfjaskldjfasdfasdfaaaaadsfajsdlkfjlkasdjlkfjaskldjfasdfasdfaaaaa
    dsfajsdlkfjlkasdjlkfjaskldjfasdfasdfaaaaadsfajsdlkfjlkasdjlkfjaskldjfasdfasdfaaaaadsfajsdlkfjlkasdjlkfjaskldjfasdfasdfaaaaa
    </div>
</body>
</html>