extends layout

block content
  h1= title
  
  p Welcome to #{title}

  p This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information

  a.btn.btn-primary.btn-lg(href='#', role='button') Learn more

  a.login-link(href='/login') 登录
  a.login-link(href='/admin') 后台登录
