<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>腾讯软件中心</title>

	<style>
	* { margin: 0; padding: 0; }
	#wrap { background: #00C; margin: 0 auto; width: 960px; height: 800px; }
	#header { background-color: red; width: 100%; height: 90px; }
	#mainbody { background-color: #FC0; width: 100%; overflow: hidden; }
	#footer { background-color: #CFB5B5; width: 100%; height: 150px; }
	.left { background-color: #FFFFFF; width: 800px; height: 200px; float: left; margin-right: 20px; }
	.right { background-color: #240606; width: 140px; height: 500px; float: left; }
	</style>
</head>

<body>
	<div id="wrap">
		<div id="header">
			头部
		</div>
		<div id="mainbody">
			<div class="left">left</div>
			<div class="right">right</div>
			主题内容
		</div>
		<div id="footer">
			版权部分
		</div>
	</div>	
</body>
</html>